#tree must be in newick file and rooted correctly
treefile =
#number of sites in the alignment
numsites = xxx
#set dates
mrca = xxx
min = xxx
max = xxx
outfile =
nthreads = 8
#it says using thorough makes it take longer but for my dataset it really wasn't that long of a wait
thorough
prime