treefile =
numsites = xxx
mrca = xxx
min = xxx
max = xxx
outfile =
nthreads = 8
thorough
#next three lines are the results from my prime analysis
# 
# 
# 
# 
# 
# 
# 
#do cross validation to choose an ideal smoothing parameter - choose the one with the lowest chi-sq value in the cv.out file
#run this step a couple times to make sure you get the same smoothing value
#this step takes the longest (few hours), so I suggest doing this one on the cluster
cv
randomcv
#you can change these values
cvstart = 100
cvstop = .00000001
cvmultstep = 0.1
