treefile =
numsites = 12361
mrca = PAPILIONIDAE Papilionidae_Baronia_brevicornis Papilionidae_Battus_lycidas
min = PAPILIONIDAE 61.9
max = PAPILIONIDAE 130.7
mrca = HESPERIIDAE Hesperiidae_Phanus_marshalli Hesperiidae_Cyclosemia_anastomosis
min = HESPERIIDAE 55.6
max = HESPERIIDAE 106.7
mrca = PIERIDAE Pieridae_Eurema_agave Pieridae_Dismorphia_amphione
min = PIERIDAE 65.3
max = PIERIDAE 127.4
mrca = RIODINIDAE Riodinidae_Apodemia_nais Riodinidae_Euselasia_regipennis
min = RIODINIDAE 51.7
max = RIODINIDAE 101
mrca = LYCAENIDAE Lycaenidae_Nesiostrymon_calchinia Lycaenidae_Iophanus_pyrrhias
min = LYCAENIDAE 57.4
max = LYCAENIDAE 110
mrca = NYMPHALIDAE Nymphalidae_Argynnis_diana Nymphalidae_Mechanitis_menapis
min = NYMPHALIDAE 68.6
max = NYMPHALIDAE 130.6
outfile =
nthreads = 8
thorough
#next three lines are the results from my prime analysis
# 
# 
# 
# 
# 
# 
# 
#do cross validation to choose an ideal smoothing parameter - choose the one with the lowest chi-sq value in the cv.out file
#run this step a couple times to make sure you get the same smoothing value
#this step takes the longest (few hours), so I suggest doing this one on the cluster
cv
randomcv
#you can change these values
cvstart = 100
cvstop = .00000001
cvmultstep = 0.1